.hero-h1 {
  color: #000000;
  font-family: "Arvo", serif;
  font-weight: 900;
  font-style: normal;
}

*::-webkit-scrollbar{
  display: none;
}

::selection{
  background-color: #181d25;
  color: thistle;
}

.btn{
  background-color: #56BBD0;
}

.sec-2{
  height: 100vh;
}

.sec-3{
  height: 100vh;
  background-color: white;
}

main{
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  transition: scroll-snap-align 0.8s ease-in-out;
  background: #F9FBFD;
  font-family: "Arvo", serif;
}

section{
  scroll-snap-align: start;
}

.cards{
  max-height: 18rem;
  /* width: 10rem; */
  font-size: 0.7rem;
}
.cards:hover{
  transform: scale(1);
  transition: transform 0.8s ease-in-out;
  background-color: white;
  cursor:default;
}

.sec-2:last-child div p{
  font-size: .8rem;
  font-family: "DM Sans", sans-serif;
}
.sec-2:last-child div h1{
  font-family: "DM Sans", sans-serif;
}

.inp{
  width: 70%;
}

.sec-3-li{
  list-style: url("./assets/li.png");
  font-family: "DM Sans", sans-serif;
}

.p-cards{
  background-color: white;
  height: 500px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.122);
}

.recom::after{
  background-color: blue;
  content: '';
  position: relative;
  top: -10px;
}

.man{
  width: 500px;
  height: 600px;
  border-radius: 10px 30% 10px 30%;
}

.chat-bubble{
  background: #5080FB;
  width: 277px;
  height: 143px;
  border-radius: 30px 30px 3px 30px;
}

.man-left{
  width: 470px;
  height: 573px;
}

.man-left-h1{
  line-height: 55px;
}
.man-left-p{
  line-height: 36px;
}

.man-left-li{
  list-style: url("./assets/li.png");
  font-family: "DM Sans", sans-serif;
}